a{color:#ffffff;
    text-decoration: none;
    background-color: transparent;
    text-align: left;
    }

    footer{
       text-align: center;
        padding: 10px;
        bottom: 0;
        width: 100%;
    }

    .zigzag-row {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .zigzag-row:nth-child(even) .col-md-6:first-child {
        order: 2;
    }